# Ignore IDE directories
.idea/

# Ignore build output directories
target/

# Ignore log files
*.log

# Ignore IDE module files
*.iml

# Ignore temporary files
*.tmp
*.bak

chatter.db

upload_files/

build/

tmp.md